[submodule "submodules/Arduino-Makefile"]
	path = submodules/Arduino-Makefile
	url = https://github.com/sudar/Arduino-Makefile
[submodule "submodules/ChibiOS"]
	path = submodules/ChibiOS
	url = https://github.com/ChibiOS/ChibiOS
    ignore = dirty
[submodule "submodules/googletest"]
	path = submodules/googletest
	url = https://github.com/google/googletest
    ignore = dirty
[submodule "submodules/cxxtest"]
	path = submodules/cxxtest
	url = https://github.com/CxxTest/cxxtest
